#<FilesMatch "\.htaccess">

#    Require all denied

#</FilesMatch>
<IfModule mod_rewrite.c>
RewriteEngine On

#REWRITE RULES
#---------------------

RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond $1 !^(index\.css|ico|js|woff|ttf|woff2|png|jpg|gif|robots\.txt)
RewriteRule ^(.*)$ index.php?uri=$0 [L,QSA]


