<ul id="fixed-sidenav" class="side-nav fixed  blue-grey lighten-5">
  <li>　　</li>
  <li class="no-padding">
    <ul class="collapsible collapsible-accordion">
      <li>
        <a class="collapsible-header" >系版<i class="mdi-navigation-arrow-drop-down"></i></a>
        <div class="collapsible-body purple lighten-5">
          <ul>
            <li><a href="#!">資工</a></li>
            <li><a href="#!">哲學</a></li>
            <li><a href="#!">應美</a></li>
            <li><a href="#!">醫學</a></li>
            <li><a href="#!">企管</a></li>
          </ul>
        </div>
      </li>
    </ul>
  </li>
  {{Forte}}
</ul> 
