<style>
.slider{  
  height:65vh!important;
}
.slider .slides {
  height:60vh!important;
} 
/*.indicators{
  margin-top: 5vh!important;
  position:relative!important;
}*/
</style>

<div>
  <div class="slider cover">
      <ul class="slides main">
        <li>
          <img src="http://i.imgur.com/OH6ImFf.jpg" style="-webkit-filter: brightness(0.5);">
          <div class="caption left-align">
            <h3><a class="noto white-text"href="/forte/course" style="font-weight: 100;">遠距離愛情的我們</a></h3>
            <h5 class="noto">[男女版] 最新熱門</h5>
          </div>
        </li>
        <li>
          <img src="http://i.imgur.com/NgrWLEo.png" style="-webkit-filter: brightness(0.5);">
          <div class="caption right-align">
            <h3><a class="noto white-text"href="/forte/course" style="font-weight: 100;">老師被我們氣走了.....</a></h3>
            <h5 class="noto">[課程版] 熱門文章</h5>
          </div>
        </li>
        <li>
          <img src="http://i.imgur.com/KNS7GzF.jpg" style="-webkit-filter: brightness(0.5);">
          <div class="caption left-align">
            <h3><a class="noto white-text"href="/forte/course" style="font-weight: 100;">星期三早八的兩岸關係史</a></h3>
            <h5 class="noto">[課程版] 最新文章</h5>
          </div>
        </li>
        <li>
          <img src="http://i.imgur.com/QOuQsM9.jpg" style="-webkit-filter: brightness(0.5);">
          <div class="caption left-align">
            <h3><a class="noto white-text"href="/forte/course" style="font-weight: 100;">五星級主廚快餐車進駐輔大</a></h3>
            <h5 class="noto">[時事版] 最新文章</h5>
          </div>
        </li>
      </ul>
    </div>
</div>