<div class="container">
	<article class="card-panel">
		<header>
			<div class="row">
				<div class="col s12 l6">
					<p class="left-align noto" style="font-weight:300"><a href="/forte/{{Board}}">返回 {{BoardName}} 列表</a></p>
				</div>
				<div class="col s12 l6">
					<p class="right-align noto" style="font-weight:300">{{Author}} 於 <time pubdate="{{DetailTime}}">{{Time}}</time> 發表</p>
				</div>
			</div>
			<h1 class="noto" style="font-size:2.5rem;font-weight:300;margin-top:-50px;margin-bottom:50px">{{Title}}</h1>
		</header>
		<div class="left-align" style="word-wrap: break-word;">
			<p>{{Article}}</p>
		</div>
	</article>
</div>

