<div class="navbar-fixed">
	<nav class="deep-purple lighten-2">
	  	<div class="container">
	    	<div class="nav-wrapper hide-on-med-and-down">
				<a href="/" class="noto breadcrumb brand-logo white-text" style="font-weight:100!important">Rhythm</a>
	    		<a href="#!" class="noto breadcrumb white-text" style="font-weight:100!important;margin-left:120px">
	    			{{Logo}}
	    		</a>
	      		<ul id="nav-mobile" class="right hide-on-med-and-down">
	      			 <li><a class="noto300" href="#!">{{User}}</a></li>
	      			 <li><a class="noto300" href="//accounts.tenoz.asia/Logout">登出</a></li>
		 		</ul>
			</div>
	    	<div class="nav-wrapper hide-on-large-only">
				<a href="/" class="noto brand-logo white-text" style="font-weight:100!important">Rhythm
				</a>
			</div>
	  	</div>
	</nav>
</div>